:root {
    --bs-gradient: linear-gradient(90deg, rgba(50, 0, 255, 1), rgba(100, 0, 255, 1));
}

body {
    min-height: 100vh;
    height: 100vh;
}

main {
    display: flex;
    height: -webkit-fill-available;
}

.sidebar {
    width: 280px;
}